*.bak
*.class
*.ear
*.iml
*.jar
*.log
*.pid
*.swp
*.tmp
*.war
*log
*~.nib
*.pyc
.classpath
.gradle
.idea
.iml
.loadpath
.metadata
.nb-gradle-properties
.nb-gradle/
.project
.settings/
/.nb-gradle/private/
build/
tmp/
